
{% block body %}
    <div id="boxbigmainpage" >




        <div id="boxsmallmainpage">
            <p><a href="{{ path('provider_register')  }}">DODAJ KLIENTA</a></p>
        </div>


        <div id="boxsmallmainpage">
            <p><a href="{{ path('provider_show')  }}">LISTA KLIENTÓW</a></p>

        </div>

        <div id="boxsmallmainpage">
            <p><a href="../index.html">WYLOGUJ<br /> SIĘ</a></p>

        </div>




    </div>
{% endblock %}